# virtual environment
quiz-env

.env

**.pyc

# SQLite database and uploaded files
server/uploads
server/instance

# Google Cloud service account credentials
server/google-service-account.json

# gunicorn logs
server/gunicorn.log
