.divider {
    margin: 1em 0;
}

.button {
    margin-right: 1em;
}

.feedback {
    width: 100%;
}

.feedback:first-child {
    margin-left: 1.5em;
}

.feedback:last-child {
    float: right;
}

.feedback button {
    width: fit-content;
    margin-left: 0.75em;
}
