# Core Flask + extensions
Flask==2.2.2
Flask-Bcrypt==1.0.1
Flask-Cors==3.0.10
Flask-Limiter==2.8.1
Flask-Login==0.6.2

# Flask in production
gunicorn==20.1.0
gevent==22.10.2

# Database
SQLAlchemy==1.4.42
Flask-SQLAlchemy==3.0.2
Flask-Migrate==4.0.1
alembic==1.9.2
mysqlclient==2.1.1

# Google Forms
oauth2client==4.1.3
google-api-python-client==2.68.0

# Misc
Werkzeug==2.2.2
Levenshtein==0.20.9
toml==0.10.2
pymemcache==4.0.0
