<!DOCTYPE html>
<html>
    <head>
        <title>Generate Questions</title>
    </head>
    <body>
        <form action="./" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <label for="book-select">Resource Type:</label>
            <select name="book" id="book-select">
                <option value="rust">Rust Book</option>
                <option value="mdn">MDN Learn</option>
            </select>
            <input type="submit" value="submit">
        </form>
    </body>
</html>
