.remove {
    margin-left: 1em;
    float: right;
}

.utility {
    margin-left: 1em;
}

.title-container {
    width: 100%;
    margin-bottom: 0.5em;
}

.accordion-question {
    margin-right: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
