.divider {
    margin: 1em 0;
}

.button {
    margin-right: 1em;
}

.feedback button:not(:first-child) {
    width: fit-content;
    margin-left: 0.75em;
}

@media screen and (min-width: 30em) {
    .feedback:first-child {
        margin-left: 1.5em;
    }

    .feedback button {
        width: fit-content;
        margin-left: 0.75em;
    }

    .feedback {
        width: 100%;
    }

    .feedback:last-child {
        float: right;
    }
}

@media screen and (max-width: 30em) {
    .feedback {
        margin-bottom: 0.5em;
    }
}
